/* main css styling for personal website */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;700&family=PT+Sans:ital@0;1&family=PT+Serif:ital@0;1&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;0,900;1,700;1,900&display=swap');*/

* {
	margin: 0;
	padding: 0;
	text-align: justify;
  	transition: background-color 0.3s ease, color 0.1s ease;
}

body {
	font-family: 'PT Serif', serif;
}

.nav-mobile {
	display: none;
}

#name {
	font-family: "PT Sans", "Lato", sans-serif;
	font-size: 3vw;
}

#footer {
	display: block;
	position: fixed;
	margin-left: 25%;
	margin-right: 25%;
	margin-bottom: 1em;
	bottom: -20px;
	padding-top: 10px;
	padding-bottom: 20px;
	width: 50%;
	z-index: 5;
}

.footer-text {
	font-size: 14px;
}

.btn-publication {
	cursor: pointer;
	outline: none;
	border: none;
	border-radius: 10px;
	transition-duration: 0.3s;
}

a {
	text-decoration: none;
}

#profile {
	display: block;
	align-content: center;
	width: 15em;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	/*height: auto; */
    /*width: auto; */
}

#profile-links {
	display: flex;
	justify-content: space-between;
}

#profile-text {
	text-align: center
}

#homepage-gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#homepage-gallery a {
	/*flex-shrink:1;*/
	/*width: 100%;*/
	max-width: 27%;
	text-align: center;
	color: #1c1c1c;
	/*border: 1px solid #B9B9B9;*/
	/*box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);*/
	background-color: rgba(255, 255, 255, 0.075);
	padding: 2%;
	margin: 1%;
}

#homepage-gallery a img {
	/*flex-shrink: 1;*/
	max-width: 100%;
	margin-bottom: 1em;
}

#homepage-gallery a h3 {
	font-size: 14px;
	color: #1c1c1c;
}

#homepage-gallery a p {
	font-size: 12px;
	margin: 0.2em;
}

#homepage-gallery a:hover {
	background-color: rgba(255, 255, 255, 0.25);

	/* original border shadow */
/*	box-shadow: 0 0 5px #B9B9B9;
	border-radius: 5px; */

	/* bottom line */
	box-shadow: 0px 10px 0px -5px #4EA362;
}

.home {
	display: block;
	justify-content: space-around;
}

.home h3 {
	margin-top: 2em;
}

.bold {
	font-weight: 700;
}

.nav-desktop {
	display: flex;
	margin: 1vw 15vw 0 15vw;
	width: 70%;
	justify-content: space-between;
	text-decoration: none;

}

.nav-desktop a {
	color: #1c1c1c;
	margin: 0.5em;
	font-size: 1.05vw;
	align-self: flex-end;
}

.nav-desktop a:first-child {
	margin: 0;
	margin-right: auto;
	font-size: 50px;
	align-self: flex-end;
}


h1 {
	display: inline-block;
	font-weight: 900;
	font-size: 32px;
	margin-bottom: 0.2em;
}

h2 {
	font-weight: 700;
	font-size: 28px;
	margin-bottom: 1em;
}

h3 {
	font-weight: 400;
	font-size: 18px;
	margin-bottom: 1em;
}

p {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.2em;
	margin-bottom: 1em;
}

.scicomm-gallery {
	display: flex;
	flex-direction: column;
	padding-bottom: 5vw;
}

.scicomm-gallery a {
	margin:0em;
}

.scicomm-gallery a:hover {
	background-color: rgba(255, 255, 255, 0.25);

	/* original border shadow */
/*	box-shadow: 0 0 5px #B9B9B9;
	border-radius: 5px;
*/
	/* right line */
	box-shadow: 10px 0 0px -5px #4EA362;
}

.scicomm-container {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	margin: 1em 0em;
}

.scicomm-container a {
	flex-basis: auto;
	width: 100%;
	text-align: center;
}

.scicomm-container img {
	flex-basis: auto;
	max-width: 20%;
	object-fit: contain;
}

.scicomm-container h3 {
	color: #1c1c1c;
	flex-basis: auto;
	font-weight: 700;
	font-size: 18px;
	margin: 1em 2em;
	max-width: 100%;
}

.scicomm-container p {
	color: #1c1c1c;
	flex-basis: auto;
	margin: 1em 2em;
	max-width: 70%;
}

.content {
	position: absolute;
	margin: 5vw 25vw 0 25vw;
}


/* art */

.art-container {
	/*position: absolute;*/
	position: static;
	margin: 300px 25vw 0 25vw;
	padding-bottom: 3vw;
	display: flex;
	align-content: center;
	/*flex-direction: row;*/
	justify-content: center;
	height: 60%;
}

.art-column {
	display: flex;
	flex-basis: 1;
	flex-flow: row wrap;
	justify-content: space-between;
	overflow-y: scroll;
	width: 80%;
	max-width: 80%;
	gap: 50px;
	/* for firefox */
    scrollbar-width: none;
    scrollbar-color: white;

}

.art-column::-webkit-scrollbar {
  width: 0;               /* width of the entire scrollbar */
}

.art-column::-webkit-scrollbar-track {
  background: white;        /* color of the tracking area */
}

.art-column::-webkit-scrollbar-thumb {
  background-color: grey;    /* color of the scroll thumb */
  border-radius: 1px;       /* roundness of the scroll thumb */
  border: 1px grey;  /* creates padding around scroll thumb */
}

.art-column a {
	flex-shrink:1;
	width: 100%;
	text-align: center;
	color: #1c1c1c;
	/*border: 1px solid #B9B9B9;*/
	/*box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);*/
	background-color: rgba(255, 255, 255, 0.075);
	padding: 2em;
	margin: 1em 2em;
}

.art-column a img {
	flex-shrink: 1;
	max-width: 100%;
}

.art-column a h3 {
	color: #1c1c1c;
}

.art-column a p {
	margin: 2em;
}

.art-column a:hover {
	background-color: rgba(255, 255, 255, 0.25);

	/* original border shadow */
/*	box-shadow: 0 0 10px #B9B9B9;
	border-radius: 5px; */

	/* bottom line */
	box-shadow: 0px 10px 0px -5px #4EA362;
}


