/* main css styling for personal website */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;700&family=PT+Sans:ital@0;1&family=PT+Serif:ital@0;1&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;0,900;1,700;1,900&display=swap');*/

* {
	font-family: 'PT Serif', serif;
	margin: 0;
	padding: 0;
	text-align: justify;
  	transition: background-color 0.3s ease, color 0.1s ease;
}

body {
	font-family: 'PT Serif', serif;
}

.nav-desktop {
	display: none;
}

.nav-mobile {
	padding: 2vw 10% 0 10%;
	width: 80%;
	max-width: 80%;
	text-align: right;
}

.drop-button {
	border: none;
	outline: none;
	margin: 0;
	padding-bottom: 2vw;
}

.dropdown-content {
	display: none;
	margin: auto;
	position: fixed;
	width: 80%;
	max-width: 80%;
	/*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
	z-index: 1;
}

.dropdown-content a {
	float: none;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: center;
	font-size: 4vw;
}

.show {
	display: block;
	float: right;
}

#footer {
	display: block;
	position: fixed;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 1vw;
	bottom: 0;
	width: 80%;
	bottom: -10px;
	padding-top: 10px;
	padding-bottom: 20px;
}

.footer-text {
	font-size: 14px;
}

.btn-publication {
	cursor: pointer;
	outline: none;
	border: none;
	border-radius: 10px;
	padding: 0px 3px;
	transition-duration: 0.3s;
}

a {
	text-decoration: none;
}

#profile {
	display: flex;
	flex-direction: column;
	/*height: auto; */
	width: 40%;
	max-width: 40vw;
	min-width: 20vw;
	margin-bottom: 10vw;
	/*background-color: yellow;*/
}

#profile-links {
	display: flex;
	flex-basis: auto;
	justify-content: space-between;
}

#profile-text {
	text-align: center;
}

#homepage-gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 2%;
}

#homepage-gallery a {
	/*flex-shrink:1;*/
	/*width: 100%;*/
	max-width: 42%;
	text-align: center;
	color: #1c1c1c;
	/*border: 1px solid #B9B9B9;*/
	/*box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);*/
	background-color: rgba(255, 255, 255, 0.075);
	padding: 2%;
	margin: 1%;
}

#homepage-gallery a img {
	/*flex-shrink: 1;*/
	max-width: 100%;
	margin-bottom: 1em;
}

#homepage-gallery a h3 {
	font-size: 14px;
	color: #1c1c1c;
}

#homepage-gallery a p {
	font-size: 12px;
	margin: 0.2em;
}

#homepage-gallery a:hover {
	background-color: rgba(255, 255, 255, 0.25);

	/* original border shadow */
/*	box-shadow: 0 0 5px #B9B9B9;
	border-radius: 5px; */

	/* bottom line */
	box-shadow: 0px 10px 0px -5px #4EA362;
}

.home {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.home h3 {
	margin-top: 2em;
}

.bold {
	font-weight: 700;
}

.bold900 {
	font-weight: 900;
}

.nav {
	font-size: 20px;
	/*width: 50%;*/
	margin: 50px 10vw 0 10vw;
	text-decoration: none;
}

.nav a {
	display: inline;
	float: left;
    text-align: center;
    margin: 15px 0px; /* to flush edge of menu with right boundary */
}

.nav a.active {
	/*color: #9697ab;*/
	font-weight: 700;
	padding-bottom: 8px;
}

.nav a:hover {
	transition-duration: 0.3s;
}

.nav-right {
    float: right;
}

.nav-right a {
	display: inline;
    margin: 15px 10px;
}

.nav-right a:last-child {
	margin: 15px 0 15px 10px; /* to flush edge of menu with right boundary */
}


/* font settings */
h1 {
	display: inline-block;
	font-weight: 900;
	font-size: 4vw;
	margin-bottom: 0.2em;
}

h2 {
	font-weight: 700;
	font-size: 28px;
	margin-bottom: 1em;
}

h3 {
	font-weight: 400;
	font-size: 3vw;
	margin-bottom: 1em;
}

p {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.2em;
	margin-bottom: 1em;
}

.scicomm-gallery {
	display: flex;
	flex-direction: column;
}

.scicomm-gallery a {
	margin:0em;
}

.scicomm-gallery a:hover {
	background-color: rgba(255, 255, 255, 0.25);

	/* original border shadow */
/*	box-shadow: 0 0 5px #B9B9B9;
	border-radius: 5px;
*/
	/* right line */
	box-shadow: 10px 0 0px -5px #4EA362;
}

.scicomm-container {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	margin: 1em 0em;
}

.scicomm-container a {
	flex-basis: auto;
	width: 100%;
	text-align: center;
}

.scicomm-container img {
	flex-basis: auto;
	max-width: 20%;
	object-fit: contain;
}

.scicomm-container h3 {
	color: #1c1c1c;
	flex-basis: auto;
	font-weight: 700;
	font-size: 18px;
	margin: 1em 2em;
	max-width: 100%;
}

.scicomm-container p {
	color: #1c1c1c;
	flex-basis: auto;
	margin: 1em 2em;
	max-width: 70%;
}

.content {
	align-content: center;
	/*display: flex;*/
	position: static;
	margin: 15vw 10vw 0 10vw;
}


/* art */
.art-container {
	/*position: absolute;*/
	position: static;
	margin: 5vw 10vw 0 10vw;
	padding-bottom: 8vw;
	display: flex;
	align-content: center;
	/*flex-direction: row;*/
	justify-content: center;
	height: 60%;
}

.art-column {
	display: flex;
	flex-basis: 1;
	flex-flow: row wrap;
	justify-content: space-between;
	overflow-y: scroll;
	width: 100%;
	max-width: 100%;
	gap: 50px;
	/* for firefox */
    scrollbar-width: none;
    scrollbar-color: white;

}

.art-column::-webkit-scrollbar {
  width: 0;               /* width of the entire scrollbar */
}

.art-column::-webkit-scrollbar-track {
  background: white;        /* color of the tracking area */
}

.art-column::-webkit-scrollbar-thumb {
  background-color: grey;    /* color of the scroll thumb */
  border-radius: 1px;       /* roundness of the scroll thumb */
  border: 1px grey;  /* creates padding around scroll thumb */
}

.art-column a {
	flex-shrink:1;
	width: 100%;
	text-align: center;
	color: #1c1c1c;
	/*border: 1px solid #B9B9B9;*/
	/*box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);*/
	background-color: rgba(255, 255, 255, 0.075);
	padding: 1em;
	margin: 1em;
}

.art-column a img {
	flex-shrink: 1;
	max-width: 100%;
}

.art-column a h3 {
	color: #1c1c1c;
}

.art-column a p {
	margin: 2em;
}

.art-column a:hover {
	background-color: rgba(255, 255, 255, 0.25);

	/* original border shadow */
/*	box-shadow: 0 0 10px #B9B9B9;
	border-radius: 5px; */

	/* bottom line */
	box-shadow: 0px 10px 0px -5px #4EA362;
}




